* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  display: inline-block; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 150px; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/woff2/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/woff/montserrat-regular-webfont.woff") format("woff"), url(../fonts/montserrat/ttf/montserrat-regular.ttf) format("ttf"); }

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/raleway/woff2/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway/woff/raleway-regular-webfont.woff") format("woff"), url(../fonts/raleway/ttf/raleway-regular.ttf) format("ttf"); }

@font-face {
  font-family: "Raleway - Extra Bold";
  src: local("Raleway - Extra Bold"), url("../fonts/raleway/woff2/raleway-extrabold-webfont.woff2") format("woff2"), url("../fonts/raleway/woff/raleway-extrabold-webfont.woff") format("woff"), url(../fonts/raleway/ttf/raleway-extrabold.ttf) format("ttf"); }

@font-face {
  font-family: "Raleway - Semi Bold";
  src: local("Raleway - Semi Bold"), url("../fonts/raleway/woff2/raleway-semibold-webfont.woff2") format("woff2"), url("../fonts/raleway/woff/raleway-semibold-webfont.woff") format("woff"), url(../fonts/raleway/ttf/raleway-semibold.ttf) format("ttf"); }

@font-face {
  font-family: "Montserrat - Ultra Light";
  src: local("Montserrat-ExtraLight"), url("../fonts/montserrat/woff2/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/woff/Montserrat-ExtraLight.woff") format("woff"), url(../fonts/montserrat/ttf/Montserrat-ExtraLight.ttf) format("ttf"), url(../fonts/montserrat/eot/Montserrat-ExtraLight.eot) format("eot"); }

@keyframes menuanim {
  from {
    background-color: red; }
  to {
    background-color: yellow; } }

* {
  margin: 0 auto; }

body {
  line-height: 0px; }

.header_page {
  background-image: url(../img/photo.png);
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: box-shadow 1s ease-out;
  box-shadow: 0 0 0 590px rgba(0, 0, 0, 0.6) inset;
  min-height: 1132px; }
  .header_page:hover {
    transition: box-shadow 1s ease-out;
    box-shadow: 0 0 0 590px rgba(0, 0, 0, 0.2) inset; }
  .header_page .first_page {
    max-width: 1240px;
    padding-top: 50px; }
    .header_page .first_page .first__inner .logo {
      float: left; }
    .header_page .first_page .first__inner .first__inner_2 {
      padding: 8px 0; }
      .header_page .first_page .first__inner .first__inner_2 .menu_nav {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap; }
        .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a {
          text-decoration: none;
          color: #ffffff;
          font-family: Montserrat, Arial, sans-serif;
          font-size: 14px;
          line-height: 16px; }
          .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a:hover {
            color: #c7b299;
            font-family: Montserrat, Arial, sans-serif;
            font-size: 14px; }
          .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a:active {
            color: #ffffff; }
          .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a .image_nav {
            fill: #fff;
            vertical-align: middle; }
            .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a .image_nav:hover {
              fill: #c7b299; }
            .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a .image_nav:active {
              fill: #fff; }
          .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a input[type="search"] {
            width: 30px;
            height: 29px;
            outline: none;
            background: transparent;
            background-image: url("../img/icon-search.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            border: 0px;
            transition: width 1s ease-out, background-color 1s ease-out;
            border-radius: 10px;
            padding: 0;
            cursor: pointer; }
            .header_page .first_page .first__inner .first__inner_2 .menu_nav .nav_a input[type="search"]:focus {
              width: 200px;
              transition: width 1s ease-out;
              background-position: right;
              background-color: rgba(199, 178, 153, 0.5);
              color: #fff;
              padding: 3px 30px 3px 7px; }
    .header_page .first_page .first__inner .navigation li {
      padding: 7px; }
    .header_page .first_page .first__inner .little__menu {
      display: none; }
      .header_page .first_page .first__inner .little__menu .svg-inline--fa {
        width: 30px;
        color: #ffffff;
        float: right; }
  .header_page .first_page_2 {
    padding-top: 400px;
    clear: both; }
    .header_page .first_page_2 .slick-btn {
      position: absolute;
      top: 50%;
      width: 45px;
      height: 45px;
      border-right: 3px solid #ffffff;
      border-top: 3px solid #ffffff;
      opacity: 0.5;
      z-index: 1;
      background-color: transparent;
      outline: none;
      border-left: none;
      border-bottom: none; }
      .header_page .first_page_2 .slick-btn.slick-prev {
        left: 0px;
        transform: rotate(225deg); }
      .header_page .first_page_2 .slick-btn.slick-next {
        right: 0px;
        transform: rotate(45deg); }
      .header_page .first_page_2 .slick-btn.slick-disabled {
        display: none !important; }
      .header_page .first_page_2 .slick-btn:hover {
        border-right: 3px solid #d3c1ad;
        border-top: 3px solid #d3c1ad; }
    .header_page .first_page_2 .info_title {
      text-align: center;
      color: #ffffff;
      font-family: Raleway, Arial, sans-serif;
      font-size: 36px;
      font-weight: 500;
      line-height: 30px;
      padding: 20px; }
    .header_page .first_page_2 .info_title_big {
      text-align: center;
      color: #ffffff;
      font-family: "Raleway - Extra Bold", Arial, sans-serif;
      font-size: 52px;
      font-weight: 400;
      line-height: 40px;
      padding: 20px; }
    .header_page .first_page_2 .info_text {
      text-align: center;
      color: #ffffff;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 16px;
      max-width: 800px;
      margin: 0 auto;
      font-weight: 300;
      line-height: 24px;
      padding: 20px; }
    .header_page .first_page_2 .button_info {
      text-align: center;
      text-decoration: none; }
      .header_page .first_page_2 .button_info .button_start {
        background-color: #998675;
        padding: 10px 15px;
        outline: none;
        color: #ffffff;
        font-family: "Raleway - Extra Bold", Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        border-radius: 3px;
        text-transform: uppercase;
        border-bottom: 2px solid #736357; }
        .header_page .first_page_2 .button_info .button_start:hover {
          box-shadow: inset -2px -2px 0 #736357; }
        .header_page .first_page_2 .button_info .button_start:active {
          box-shadow: inset 2px 2px 0 #736357; }
    .header_page .first_page_2 .slick-dots {
      position: absolute;
      bottom: -250px;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none; }
      .header_page .first_page_2 .slick-dots li {
        display: inline-block;
        position: relative; }
        .header_page .first_page_2 .slick-dots li.slick-active:before {
          border: 2px solid #c5a379;
          background-color: transparent;
          opacity: 0.7;
          margin: 0 5px;
          top: 1px; }
        .header_page .first_page_2 .slick-dots li:before {
          content: "";
          display: block;
          position: relative;
          width: 11px;
          height: 11px;
          cursor: pointer;
          outline: none;
          border-radius: 50%;
          background-color: #ffffff;
          opacity: 0.5;
          margin: 0 7px;
          padding: 0; }
        .header_page .first_page_2 .slick-dots li:hover:before {
          border: 2px solid #c5a379;
          background-color: transparent;
          opacity: 0.7;
          margin: 0 5px;
          top: 1px; }
        .header_page .first_page_2 .slick-dots li button {
          display: none; }

.logo__page_inner {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .logo__page_inner .logo_svg {
    fill: #fff; }
  .logo__page_inner:hover .logo_svg {
    fill: #998675; }
  .logo__page_inner:active .logo_svg {
    fill: #fff; }
  .logo__page_inner:hover .logo_txt {
    color: #998675; }
  .logo__page_inner:active .logo_txt {
    color: #fff; }

.logo_txt {
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  letter-spacing: -1.36px; }

.second_part .second__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1580px;
  padding: 80px 0;
  align-items: center;
  margin: 0 auto; }
  .second_part .second__inner .second__link {
    text-align: center;
    max-width: 270px;
    margin: 10px auto; }
    .second_part .second__inner .second__link .second__link_a {
      text-align: center;
      text-decoration: none; }
      .second_part .second__inner .second__link .second__link_a .second__img {
        padding: 5px 0; }
    .second_part .second__inner .second__link .second__title {
      color: #555555;
      font-family: "Raleway - Semi Bold", Arial, sans-serif;
      font-size: 22px;
      line-height: 30px;
      padding: 5px 0; }
    .second_part .second__inner .second__link .second__text {
      color: #8c8c8c;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
      padding: 5px 0;
      position: relative; }
      .second_part .second__inner .second__link .second__text:after {
        content: "";
        display: block;
        width: 70px;
        height: 4px;
        background-color: #f1eee9;
        position: absolute;
        bottom: -10px;
        left: 100px; }
    .second_part .second__inner .second__link .image_color {
      fill: #555555; }
    .second_part .second__inner .second__link:hover .image_color {
      fill: #c7b299; }
    .second_part .second__inner .second__link:hover .second__title {
      color: #c7b299; }
    .second_part .second__inner .second__link:hover .second__text:after {
      content: "";
      display: block;
      width: 70px;
      height: 4px;
      background-color: #c7b299; }

.second__realize {
  background-color: #fbfaf8;
  background-image: url("../img/3-layers.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  min-height: 685px; }
  .second__realize .realize__title {
    text-align: center;
    padding-top: 80px;
    color: #555555;
    font-family: "Raleway - Semi Bold", Arial, sans-serif;
    font-size: 30px;
    line-height: 32px; }
  .second__realize .realize__text {
    text-align: center;
    padding: 25px 0 40px 0;
    max-width: 1150px;
    color: #8c8c8c;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px; }
  .second__realize .realize__img {
    text-align: center; }

.purshase {
  background-color: #f4f5f8;
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }
  .purshase .purshase__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .purshase .purshase__inner .purshase__info .purshase__title {
      color: #ffffff;
      font-family: Raleway, Arial, sans-serif;
      font-size: 28px;
      line-height: 30px; }
      .purshase .purshase__inner .purshase__info .purshase__title .first_word {
        font-family: Raleway, Arial, sans-serif;
        font-size: 28px;
        color: #c7b299; }
    .purshase .purshase__inner .purshase__info .purshase__text {
      color: #615855;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px; }

.third {
  position: relative; }
  .third .third__title {
    color: #555555;
    font-family: "Raleway - Semi Bold", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    padding-top: 80px; }
  .third .third__text {
    text-align: center;
    max-width: 800px;
    color: #8c8c8c;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-top: 25px; }
  .third .third__nav {
    padding: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 32px;
    text-align: center;
    justify-content: center; }
    .third .third__nav .third__nav__btn {
      outline: none;
      text-decoration: none;
      height: 32px;
      border-radius: 3px;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      padding: 0 22px 0 22px;
      margin: 0 5px 0 5px;
      color: #8c8c8c;
      font-family: Montserrat;
      font-size: 14px; }
      .third .third__nav .third__nav__btn:hover {
        background-color: #998675;
        color: #ffffff; }
      .third .third__nav .third__nav__btn:active {
        background-color: #ffffff;
        color: #998675; }
      .third .third__nav .third__nav__btn:focus {
        background-color: #998675;
        color: #ffffff; }

.third__nav__links {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px; }
  .third__nav__links .nav__inner {
    background-color: #fbfaf8;
    position: relative;
    margin-bottom: 25px; }
    .third__nav__links .nav__inner .nav__link {
      text-decoration: none; }
    .third__nav__links .nav__inner .nav__link__down {
      position: relative;
      padding-left: 30px; }
    .third__nav__links .nav__inner .nav__link__title {
      padding-top: 20px;
      color: #c7b299;
      font-family: Raleway;
      font-size: 20px;
      line-height: 22px; }
    .third__nav__links .nav__inner .nav__link__text {
      display: block;
      padding: 10px 0 20px 0;
      color: #d1d1d1;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 20px; }
      .third__nav__links .nav__inner .nav__link__text:before {
        content: "";
        display: block;
        border: 20px solid transparent;
        border-bottom: 10px solid #fbfaf8;
        position: absolute;
        top: -30px;
        left: 20px; }
    .third__nav__links .nav__inner .bookmarks_nav_bar {
      left: 35%; }
    .third__nav__links .nav__inner:hover .nav__link__down {
      background-color: #362f2d; }
    .third__nav__links .nav__inner:hover .nav__link__text:before {
      border-bottom: 10px solid #362f2d; }
    .third__nav__links .nav__inner:hover .nav__link__title {
      color: #ffffff; }
    .third__nav__links .nav__inner:hover .nav__link__text {
      color: #c7b299; }
    .third__nav__links .nav__inner:hover img {
      filter: brightness(0.5);
      transition: filter 0.3s ease-out; }
    .third__nav__links .nav__inner:hover .bookmarks_nav_bar {
      display: block; }
    .third__nav__links .nav__inner:hover .search_nav_bar {
      display: block; }
    .third__nav__links .nav__inner:hover .bookmarks_nav_bar:hover {
      fill: #c7b299; }
    .third__nav__links .nav__inner:hover .search_nav_bar:hover {
      fill: #c7b299; }

.bookmarks_nav_bar,
.search_nav_bar {
  width: 26px;
  height: 25px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  fill: #ffffff;
  top: 35%; }

.search_nav_bar {
  right: 35%; }

.nav__btn {
  text-align: center;
  padding-bottom: 100px; }

.purshase__submit {
  text-decoration: none;
  color: #ffffff;
  background-color: #998675;
  padding: 15px 40px;
  font-family: "Raleway - Extra Bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  border-radius: 3px;
  text-transform: uppercase;
  border-bottom: 2px solid #736357; }
  .purshase__submit:hover {
    box-shadow: inset -2px -2px 0 #736357; }
  .purshase__submit:active {
    box-shadow: inset 2px 2px 0 #736357; }

.video .video__inner .video__part {
  position: relative; }
  .video .video__inner .video__part .play__div {
    position: absolute;
    max-width: 600px;
    top: 30%;
    left: 20%;
    right: 20%; }
    .video .video__inner .video__part .play__div:hover .play__title {
      color: #c7b299; }
    .video .video__inner .video__part .play__div:hover .p_video {
      color: #c7b299; }
    .video .video__inner .video__part .play__div:hover time {
      color: #c7b299; }
    .video .video__inner .video__part .play__div:hover .image_button {
      fill: #c7b299; }
    .video .video__inner .video__part .play__div .image_button {
      fill: #ffffff;
      position: absolute;
      top: 5px;
      left: 4.5px;
      width: 70px;
      height: 70px; }
    .video .video__inner .video__part .play__div .play__btn {
      text-align: center; }
      .video .video__inner .video__part .play__div .play__btn .play_button {
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #000000;
        opacity: 0.2;
        position: relative; }
    .video .video__inner .video__part .play__div .play__title {
      text-align: center;
      padding: 0 0 30px 0;
      display: block;
      color: #ffffff;
      font-family: Raleway;
      font-size: 30px;
      line-height: 32px; }
    .video .video__inner .video__part .play__div .p_video {
      text-align: center;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 28px; }
    .video .video__inner .video__part .play__div .time_play {
      display: block;
      text-align: center;
      width: 100%;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 24px; }

.video .video__inner .video_part_video {
  max-width: 100%;
  height: auto; }

.video .video__inner .play_div {
  display: none; }

.phone_part .text_part_photo {
  min-height: 738px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 250px;
  background-image: url(../img/iPhone_in_hand.png);
  display: flex;
  align-items: center; }
  .phone_part .text_part_photo .text__part__inner {
    max-width: 825px;
    float: right;
    margin-right: 100px; }
    .phone_part .text_part_photo .text__part__inner .h1_photo_part {
      padding-bottom: 20px;
      color: #555555;
      font-family: "Raleway - Semi Bold";
      font-size: 30px;
      line-height: 32px; }
    .phone_part .text_part_photo .text__part__inner .p_photo_part {
      padding-left: 30px;
      color: #8c8c8c;
      font-family: Montserrat;
      font-size: 16px;
      line-height: 28px; }
    .phone_part .text_part_photo .text__part__inner .details_photo_part {
      margin-left: 30px;
      padding: 45px 0 0 180px;
      color: #8c8c8c;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 300;
      line-height: 32px; }
      .phone_part .text_part_photo .text__part__inner .details_photo_part .summary_photo_part {
        padding: 0 0 0 20px;
        list-style-image: url(../img/01.svg); }

.statistic {
  background-color: #f4f5f8;
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }
  .statistic .statistic__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 65px; }
    .statistic .statistic__inner .statistic_div {
      text-align: center;
      position: relative; }
      .statistic .statistic__inner .statistic_div .statistic__image {
        padding-top: 65px; }
      .statistic .statistic__inner .statistic_div .image_statistic {
        fill: #c7b299; }
      .statistic .statistic__inner .statistic_div .statistic_span1 {
        line-height: 36px;
        padding-top: 30px;
        color: #ffffff;
        font-family: "Montserrat - Ultra Light";
        font-size: 48px; }
      .statistic .statistic__inner .statistic_div .statistic_span2 {
        padding-top: 20px;
        padding-bottom: 30px;
        color: #c7b299;
        font-family: Montserrat;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase; }
      .statistic .statistic__inner .statistic_div:after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        bottom: 0px;
        left: 35%; }

.recent .recent__inner {
  padding-bottom: 80px; }

.recent .span_posts {
  text-align: center;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  line-height: 32px;
  padding-top: 80px; }

.recent .p_posts {
  text-align: center;
  max-width: 800px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px; }

.recent .posts__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .recent .posts__inner .part_of_posts {
    border: 1px solid #f8f8f8;
    position: relative;
    max-width: 372px;
    margin-top: 20px; }
    .recent .posts__inner .part_of_posts .image_resent_part {
      transition: filter 0.5s ease-out; }
    .recent .posts__inner .part_of_posts .date_part {
      width: 50px;
      text-align: center;
      border-radius: 3px 3px 0 0;
      background-color: #363636;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 24px;
      line-height: 38px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2; }
    .recent .posts__inner .part_of_posts .month_part {
      width: 50px;
      text-align: center;
      border-radius: 0 0 3px 3px;
      background-color: #252525;
      color: #ffffff;
      font-family: "Montserrat - Ultra Light";
      text-transform: capitalize;
      font-size: 12px;
      line-height: 25px;
      position: absolute;
      top: 55px;
      left: 20px;
      z-index: 2; }
    .recent .posts__inner .part_of_posts .post__info {
      padding-left: 30px;
      padding-right: 10px; }
      .recent .posts__inner .part_of_posts .post__info .span_part {
        padding-top: 30px;
        color: #555555;
        font-family: Raleway;
        font-size: 20px;
        line-height: 20px; }
      .recent .posts__inner .part_of_posts .post__info .p_part {
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding-top: 15px; }
      .recent .posts__inner .part_of_posts .post__info .read_more_part {
        padding: 30px 0px;
        color: #c7b299;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none;
        text-transform: capitalize; }
    .recent .posts__inner .part_of_posts:hover {
      background-color: #362f2d; }
      .recent .posts__inner .part_of_posts:hover .date_part {
        background-color: #c7b299; }
      .recent .posts__inner .part_of_posts:hover .month_part {
        background-color: #a48d72; }
      .recent .posts__inner .part_of_posts:hover .image_resent_part {
        filter: brightness(0.5);
        z-index: 1;
        transition: filter 0.5s ease-out; }
      .recent .posts__inner .part_of_posts:hover .span_part {
        color: #c7b299; }
      .recent .posts__inner .part_of_posts:hover .p_part {
        color: #ffffff; }

.footer_part_one {
  background-color: darkgrey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/photo_last_part.png);
  box-shadow: 0 0 0 590px rgba(0, 0, 0, 0.6) inset;
  transition: box-shadow 0.5s ease-out; }
  .footer_part_one .footer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1620px;
    align-items: center;
    padding: 140px 0px; }
    .footer_part_one .footer__inner a {
      padding: 10px 10px;
      margin: 10px 10px; }
  .footer_part_one:hover {
    box-shadow: 0 0 0 590px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow 0.5s ease-out; }

.footer_second_part {
  background-color: #191919; }
  .footer_second_part .second__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0px; }
    .footer_second_part .second__inner .waxom_list2 {
      max-width: 280px; }
      .footer_second_part .second__inner .waxom_list2 .logo_page2 {
        text-decoration: none; }
        .footer_second_part .second__inner .waxom_list2 .logo_page2 .logo_svg2 {
          fill: #fff; }
        .footer_second_part .second__inner .waxom_list2 .logo_page2 .logo_txt2 {
          color: #ffffff;
          font-family: Raleway;
          font-size: 34px;
          letter-spacing: -1.36px; }
        .footer_second_part .second__inner .waxom_list2 .logo_page2:hover .logo_svg2 {
          fill: #998675; }
        .footer_second_part .second__inner .waxom_list2 .logo_page2:hover:active .logo_svg2 {
          fill: #fff; }
        .footer_second_part .second__inner .waxom_list2 .logo_page2:hover .logo_txt2 {
          color: #998675; }
    .footer_second_part .second__inner .txt_part_footer {
      margin: 0;
      padding: 20px 0 0 0;
      color: #555555;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
    .footer_second_part .second__inner .read_more {
      color: #d1d1d1;
      font-family: Montserrat;
      font-size: 14px;
      line-height: 20px;
      text-transform: capitalize;
      text-decoration: none;
      margin-top: 30px; }
      .footer_second_part .second__inner .read_more:hover {
        color: #c7b299; }
    .footer_second_part .second__inner .article_part {
      max-width: 280px; }
      .footer_second_part .second__inner .article_part .article_post {
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 25px; }
      .footer_second_part .second__inner .article_part .link_for_text {
        text-decoration: none; }
        .footer_second_part .second__inner .article_part .link_for_text:hover .date_for_text {
          color: #ffffff; }
        .footer_second_part .second__inner .article_part .link_for_text:hover .text_in_the_link {
          color: #c7b299; }
        .footer_second_part .second__inner .article_part .link_for_text .date_for_text {
          color: #363636;
          font-family: Montserrat;
          font-size: 12px;
          line-height: 20px;
          padding-bottom: 10px; }
        .footer_second_part .second__inner .article_part .link_for_text .text_in_the_link {
          color: #555555;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
          border-bottom: 1px solid #252525;
          padding: 0 0 20px 0;
          margin-bottom: 10px; }
    .footer_second_part .second__inner .twitter_part {
      max-width: 280px; }
      .footer_second_part .second__inner .twitter_part .twitter_span {
        line-height: 50px;
        color: #ffffff;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;
        padding-bottom: 25px; }
      .footer_second_part .second__inner .twitter_part .text_twitter {
        color: #555555;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding-bottom: 10px; }
        .footer_second_part .second__inner .twitter_part .text_twitter .link_with_text {
          color: #00bff3;
          text-decoration: none; }
        .footer_second_part .second__inner .twitter_part .text_twitter .link_with_text1 {
          text-decoration: none;
          color: #959595; }
      .footer_second_part .second__inner .twitter_part .date_time_twitter {
        color: #363636;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        border-bottom: 1px solid #252525;
        padding-bottom: 10px;
        margin-bottom: 10px; }
    .footer_second_part .second__inner .part_with_image {
      line-height: 50px;
      float: right;
      display: flex;
      flex-wrap: wrap;
      max-width: 280px; }
      .footer_second_part .second__inner .part_with_image .span_image {
        text-transform: capitalize;
        color: #ffffff;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700; }
      .footer_second_part .second__inner .part_with_image .image_in_the_last_part {
        transition: transform 0.5s ease-out; }
        .footer_second_part .second__inner .part_with_image .image_in_the_last_part:hover {
          transform: scale(2, 2);
          transition: transform 0.5s ease-out; }

.footer_last {
  background-color: #111111; }

.last__inner {
  padding: 40px 0;
  display: flex;
  justify-content: space-between; }

.copyright {
  color: #555555;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px; }

.waxom_com {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #959595; }

.privacy,
.faq,
.support {
  text-decoration: none;
  color: #555555;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  border-left: 1px solid #252525;
  padding-left: 10px;
  margin-left: 10px; }

.privacy:hover,
.faq:hover,
.support:hover {
  color: #c7b299; }

.text_designed {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #555555; }

.theme {
  border-right: 1px solid #252525; }

.theme,
.envato {
  text-decoration: none;
  color: #959595;
  padding: 0px 10px;
  margin: 0px 5px; }

#modal {
  width: 300px;
  display: none; }

#modal input {
  display: block;
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-weight: 400; }

#modal input[type="submit"] {
  border: none; }

/*# sourceMappingURL=main.css.map */
