@media screen and (max-width: 1800px) {
  .phone_part .text_part_photo {
    background-position: left;
    min-height: 400px; } }

@media screen and (max-width: 1389px) {
  .phone_part .text_part_photo .text__part__inner .h1_photo_part {
    padding-bottom: 15px;
    line-height: 27px;
    text-align: center; }
  .phone_part .text_part_photo .text__part__inner {
    margin-right: 0px; }
  .phone_part .text_part_photo .text__part__inner .p_photo_part {
    padding-left: 0px;
    font-size: 15px;
    line-height: 24px;
    text-align: center; }
  .phone_part .text_part_photo .text__part__inner .details_photo_part {
    padding: 15px 0 0 300px;
    font-size: 12px;
    line-height: 20px; }
  .phone_part .text_part_photo .text__part__inner .details_photo_part .summary_photo_part {
    padding: 0px 0 0 10px; }
  .second__realize {
    background-size: contain; } }

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 100px; }
  .phone_part .text_part_photo {
    background-image: none; }
  .phone_part .text_part_photo .text__part__inner {
    max-width: 825px;
    margin: 0px auto;
    float: none; }
  .header_page .first_page_2 .slick-btn.slick-next {
    display: none !important; }
  .header_page .first_page_2 .slick-btn.slick-prev {
    display: none !important; }
  .second_part .second__inner {
    padding: 40px 0;
    margin: 0px 100px; } }

@media screen and (max-width: 1100px) {
  .header_page {
    min-height: 800px; }
    .header_page .first_page_2 {
      padding-top: 150px; }
      .header_page .first_page_2 .slick-dots {
        bottom: -200px; }
  .video .video__inner .video__part .play__div .play__title {
    padding-bottom: 15px; }
  .video .video__inner .video__part .play__div .p_video {
    font-size: 14px;
    line-height: 20px; }
  .video .video__inner .video__part .play__div .play__title {
    font-size: 22px;
    line-height: 22px; } }

@media screen and (max-width: 1016px) {
  .statistic .statistic__inner .statistic_div .statistic__image {
    padding-top: 25px; }
  .statistic .statistic__inner {
    padding-bottom: 25px; }
  .header_page .first_page .first__inner .navigation .menu_nav {
    display: none; }
  .header_page .first_page .first__inner .navigation .close {
    display: none; }
  .header_page .first_page .first__inner .navigation .menu_animate {
    animation-name: menuanim;
    animation-duration: 2s; }
  .header_page .first_page .first__inner .navigation .show {
    position: absolute;
    right: 0%;
    top: 10%;
    text-align: center;
    z-index: 1;
    border-radius: 30px;
    width: 100%;
    display: block;
    background-color: rgba(43, 41, 41, 0.774); }
  .header_page .first_page .first__inner .navigation .little__menu {
    display: block; }
  .second_part .second__inner {
    margin: 0px auto; }
  .second__realize {
    min-height: 600px; }
  .purshase .purshase__inner {
    padding: 25px 0;
    display: block;
    text-align: center; }
  .footer_part_one .footer__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1620px;
    align-items: center;
    padding: 70px 0px; }
  .last__inner {
    padding: 40px 0;
    display: block;
    text-align: center; } }

@media screen and (max-width: 900px) {
  .phone_part .text_part_photo .text__part__inner .details_photo_part {
    padding: 0;
    margin-top: 20px; } }

@media screen and (max-width: 824px) {
  .container {
    padding: 0 50px; }
  .header_page {
    min-height: 650px; }
    .header_page .first_page_2 .slick-dots {
      bottom: -140px; }
    .header_page .first_page_2 .info_first_page .info_title {
      font-size: 22px;
      padding: 10px; }
    .header_page .first_page_2 .info_first_page .info_title_big {
      font-size: 35px;
      padding: 10px; }
    .header_page .first_page_2 .info_first_page .info_text {
      font-size: 10px;
      padding: 10px;
      max-width: 400px; }
    .header_page .first_page_2 .button_info .button_start {
      font-size: 10px;
      padding: 5px 10px; }
  .second__realize .realize__title {
    padding-top: 40px;
    font-size: 24px; }
  .second__realize .realize__text {
    padding: 17px 0 0px 0;
    font-size: 14px;
    line-height: 24px; }
  .second__realize {
    min-height: 420px; }
  .third .third__nav .third__nav__btn {
    padding: 0px 10px 0 10px;
    margin-top: 10px; }
  .video .video__inner .video__part .play__div .play__title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 15px; }
  .video .video__inner .video__part .play__div .play__btn .play_button {
    width: 50px;
    height: 50px; }
  .video .video__inner .video__part .play__div .image_button {
    width: 40px;
    height: 40px; }
  .video .video__inner .video__part .play__div .p_video {
    font-size: 12px;
    line-height: 16px; } }

@media screen and (max-width: 640px) {
  .second_part .second__inner .second__link {
    text-align: center;
    max-width: 270px;
    margin: 15px auto; }
  .purshase .purshase__inner .purshase__info .purshase__title {
    font-size: 20px;
    line-height: 20px; }
  .purshase .purshase__inner .purshase__info .purshase__title .first_word {
    font-size: 20px; }
  .purshase .purshase__inner .purshase__info .purshase__text {
    font-size: 14px;
    line-height: 25px; }
  .purshase__submit {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 10px; }
  .third .third__title {
    padding-top: 40px;
    font-size: 20px;
    line-height: 22px; }
  .third .third__text {
    font-size: 10px;
    line-height: 18px;
    padding-top: 14px; }
  .third .third__nav {
    padding: 20px 0; }
  .nav__btn {
    padding-bottom: 40px; }
  .third__nav__links .nav__inner .nav__link__down {
    padding-left: 10px; } }

@media screen and (max-width: 580px) {
  .video .video__inner .video__part .play__div .play__btn .play_button {
    width: 30px;
    height: 30px; }
  .phone_part .text_part_photo .text__part__inner .details_photo_part .summary_photo_part {
    list-style-type: square;
    list-style-image: none; }
  .phone_part .text_part_photo .text__part__inner .h1_photo_part {
    font-size: 20px;
    line-height: 20px; }
  .phone_part .text_part_photo .text__part__inner .p_photo_part {
    font-size: 10px;
    line-height: 17px;
    text-align: justify; }
  .video .video__inner .video__part .play__div .play__title {
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 5px; }
  .video .video__inner .video__part .play__div .p_video {
    font-size: 8px;
    line-height: 9px; }
  .video .video__inner .video__part .play__div .image_button {
    width: 25px;
    height: 25px;
    top: 2px;
    left: 2.5px; }
  .video .video__inner .video__part .play__div .play__title {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 5px; }
  .video .video__inner .video__part .play__div {
    top: 20%; } }

@media screen and (max-width: 513px) {
  .container {
    padding: 0 25px; }
  .header_page {
    min-height: 450px; }
    .header_page .first_page {
      padding-top: 30px; }
      .header_page .first_page .first__inner .little__menu .svg-inline--fa {
        width: 14px; }
    .header_page .first_page_2 {
      padding-top: 50px; }
      .header_page .first_page_2 .slick-dots {
        bottom: -130px; }
      .header_page .first_page_2 .info_first_page .info_title {
        font-size: 14px;
        line-height: 15px; }
      .header_page .first_page_2 .info_first_page .info_title_big {
        font-size: 25px;
        line-height: 20px; }
      .header_page .first_page_2 .info_first_page .info_text {
        font-size: 10px;
        line-height: 16px;
        max-width: 400px; }
      .header_page .first_page_2 .button_info .button_start {
        font-size: 8px;
        padding: 2px 5px; }
  .logo__page_inner .logo_svg {
    fill: #fff;
    width: 32px;
    height: 24px; }
  .logo_txt {
    font-size: 20px;
    line-height: 24px; }
  .header_page .first_page_2 .slick-dots li:before {
    width: 6px;
    height: 6px; }
  .nav__img {
    width: 255px; }
  .recent .span_posts {
    font-size: 20px;
    line-height: 20px;
    padding-top: 40px; }
  .recent .p_posts {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 20px; }
  .recent .posts__inner .part_of_posts .image_resent_part {
    width: 250px;
    height: 130px; }
  .recent .posts__inner .part_of_posts {
    max-width: min-content; }
  .recent .posts__inner .part_of_posts .post__info {
    padding-left: 10px;
    padding-right: 0; }
  .recent .posts__inner .part_of_posts .post__info .span_part {
    padding-top: 20px;
    font-size: 15px;
    line-height: 15px; }
  .recent .posts__inner .part_of_posts .post__info .p_part {
    font-size: 11px;
    line-height: 15px;
    padding-top: 10px; }
  .recent .posts__inner .part_of_posts .post__info .read_more_part {
    padding: 10px 0px; } }

/*# sourceMappingURL=media.css.map */
